# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
db.sqlite3
.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
dist/

# Environment
.env
