services:
  backend:
    build:
      context: ./backend
    image: ${DOCKER_USERNAME}/django-backend:latest
    ports:
      - "8000:8000"
    environment:
      - ALLOWED_HOSTS=*

  frontend:
    build:
      context: ./frontend
    image: ${DOCKER_USERNAME}/django-frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend
