services:
  backend:
    build:
      context: ./backend
    image: ${DOCKER_USERNAME}/django-backend:latest
    environment:
      - ALLOWED_HOSTS=*
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
    image: ${DOCKER_USERNAME}/django-frontend:latest
    expose:
      - "3000"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
